// ADOBE XD
$xd-blob-bg-color: rgba(255, 20, 147, 0.6);
$xd-blob-blend-mode: difference;
$xd-blob-width: 340px;
$xd-blob-height: 340px;
$xd-blob-blur: 50px;
$xd-blob-drop-shadow: 0 0 10px #ff1493;
$xd-blob-opacity: 0.4;

$xd-main-container-opacity: 0.6;
$xd-main-container-blend-mode: darken;
$xd-main-container-drop-shadow: 0 4px 8px rgba(0, 0, 0, 0.25);

// FIGMA
$fgm-blob-bg-color: linear-gradient(to bottom, #10ffff, #000000);
$fgm-blob-opacity: 1;
$fgm-blob-blend-mode: difference;
$fgm-blob-width: 300px;
$fgm-blob-height: 300px;
$fgm-blob-drop-shadow: 0 4 50px #c3089a;

$fgm-main-container-opacity: 1;
$fgm-main-container-blend-mode: screen;
$fgm-main-container-drop-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
$fgm-main-container-bg-color: #ff00d6;

$body-bg-color: #f0f0f0;
$border: 1px solid #ff00ff;

@font-face {
  font-family: "salina", serif;
  src: url(/salina-font/Salina-Regular.otf);
}
